div:nth-of-type(1) {
  color: blue;
}
div:nth-of-type(2) {
  color: blueviolet;
}
div:nth-of-type(3) {
  color: goldenrod;
  height: 180px;
}

div:nth-of-type(4) {
  color: darkred;
}
div:nth-of-type(5) {
  color: lightpink;
}
div:hover {
  border-style: dotted;
}

div:nth-of-type(1) > h3 {
  background-color: aliceblue;
}
div:nth-of-type(2) > h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div:nth-of-type(3) > h3 {
  background-color: blanchedalmond;
}
div:nth-of-type(4) > h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div:nth-of-type(5) > h3 {
  background-color: antiquewhite;
}
div:nth-child(odd) > h3 {
  font-style: italic;
}
